.greeting {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px #7B7B7B;
    margin-left: 20px;
    margin-right: 20px;
}